---
import { Image } from "astro:assets";

import PageLayout from "@/layouts/Base";
import aboutImg from "@/assets/photo.png";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro.build",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			Hi, I’m Abish Bhusal and I am passionate about computers and its architecture.I currently work
			as a software engineer at RaraLabs Pvt.Ltd. bulding fintech solutions in Golang.
		</p>
		<div class="justify-left flex">
			<Image
				src={aboutImg}
				alt="abish is missing"
				loading="eager"
				fetchpriority="high"
				style={{ height: "300px", width: "300px" }}
			/>
		</div>
		<p>What you can expect of me:</p>
		<ul class="list-inside list-disc">
			<li>I love computer science</li>
			<li>I like to talk about history and politics</li>
			<li>My love for Manchester city football club is unparalleled</li>
			<li>Im always learning new things</li>
		</ul>
	</div>
</PageLayout>
